.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.wrapper{
    text-align:justify;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid #75abd8;
    background-color:#88e7ff ;
    width: 50%;
    margin: 60px auto;

}
.sales{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.icon{
    font-size: 40px;
    color: #75abd8;
    margin: 10px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    color:#fff;
}
h2{
    color:#fff;
    -webkit-text-stroke: #000 1px ;
}
h3{
    color:#000;
}
.discont{
    color: red;
    margin: 10px;
}
